# Auto detect text files and perform LF normalization
* text=auto

# Force LF for all text files
*.py text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.rst text eol=lf
*.R text eol=lf
*.Rd text eol=lf
*.Rnw text eol=lf
*.bib text eol=lf

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.pdf binary
