## import(ordinal)
importFrom(numDeriv,
           grad,
           hessian)
importFrom(graphics, plot, contour)
import(MASS) ## to get the confint.glm method
importFrom(stats, coef, confint, logLik, profile, vcov, update,
           family, extractAIC)
importFrom(multcomp, contrMat)
importFrom("graphics", "abline", "lines", "par", "plot.default")
importFrom("stats", "AIC", "approx", "binom.test", "coefficients", "dbinom", 
           "dcauchy", "deviance", "dlogis", "dmultinom", "dnorm", "glm", 
           "glm.control", "glm.fit", "integrate", "model.matrix", 
           "model.offset", "model.response", "model.weights", "naprint", 
           "nlminb", "optim", "optimize", "p.adjust", "p.adjust.methods", 
           "pbinom", "pcauchy", "pchisq", "plogis", "pnorm", "printCoefmat", 
           "prop.test", "qchisq", "qlogis", "qnorm", "rbinom", "rmultinom", 
           "rnorm", "setNames", "spline", "uniroot", "wilcox.test",
           ".getXlevels", "binomial", "fisher.test", "pf")

# functions
export(AnotA, discrimPwr, discrimSS, discrim, #discrimr,
       discrimSim, duotrio, threeAFC, triangle, twoAFC, tetrad, hexad, twofive, twofiveF,
       SDT, ROC, AUC,
       samediff, findcr, betabin, samediffSim, discrimR, clls,
       samediffPwr, twoAC, rescale, psyfun, psyinv, psyderiv, pc2pd,
       pd2pc, d.primePwr, d.primeSS, twoACpwr, clm2twoAC,
       dprime_table, dprime_test, dprime_compare, posthoc,
       dod, dod_fit, dodControl, dodSim, dodPwr, optimal_tau,
       par2prob_dod, dod_nll, dod_null, dod_null_tau)

S3method(print, dod)
S3method(confint, dod_fit)

S3method(posthoc, dprime_test)
S3method(posthoc, dprime_compare)
S3method(print, dprime_test)
S3method(print, dprime_compare)
S3method(print, posthoc.dprime_test)
S3method(print, posthoc.dprime_compare)

S3method(print, betabin)
S3method(summary, betabin)
S3method(print, summary.betabin)
S3method(vcov, betabin)
S3method(logLik, betabin)

S3method(print, discrim)
S3method(plot, discrim)
S3method(confint, discrim)
S3method(profile, discrim)
S3method(plot, profile.discrim)

S3method(ROC, default)
S3method(ROC, anota)
S3method(AUC, anota)
S3method(AUC, default)
S3method(print, AUC)
S3method(print, anota)
S3method(plot, anota)
S3method(confint, anota)

S3method(print, samediff)
S3method(coef, samediff)
S3method(vcov, samediff)
S3method(logLik, samediff)
S3method(profile, samediff)
S3method(summary, samediff)
S3method(confint, samediff)
S3method(contour, samediff)
S3method(plot, profile.samediff)
S3method(print, summary.samediff)
S3method(plot, samediff)

S3method(print, clls)
S3method(summary, clls)
S3method(print, summary.clls)
S3method(anova, clls)
S3method(logLik, clls)
S3method(vcov, clls)
S3method(extractAIC, clls)
## S3method(confint, clls)
## S3method(profile, clls)
## S3method(plot, profile.clls)

S3method(print, twoAC)
S3method(confint, twoAC)
S3method(profile, twoAC)
S3method(confint, profile.twoAC)
S3method(plot, profile.twoAC)
S3method(vcov, twoAC)
S3method(logLik, twoAC)

S3method(print, rescale)

